#FlotBtn{
	background: #9bbaff;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    position: absolute;
    bottom: 4vh;
    left: 10%;
    box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#FlotBtn:hover{
	filter: brightness(90%);
	transition: 0.2s;
}
#FlotText{
	color: rgb(255,255,255);
    font-size: 36px;
    font-weight: 600;
    left: 12px;
    top: -3px;
    position: absolute;
}
#FlotBtn-sm{
    background: rgb(187, 231, 245);
    width: 35px;
    height: 35px;
    border-radius: 25px;
    position: absolute;
    bottom: 4vh;
    right: 8%;
    box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}