html, body{
	font-family: 'Noto Sans', sans-serif;
}
body{
	height: 100vh;
    overflow: hidden;
}
.w-100{
	width: 100% !important;
	height: 100%;
}
.w-70{
	width: 70% !important;
	height: 100vh;
}
.w-30{
	width: 30% !important;
	height: 100vh;
}
.h-30{
	height: 33vh;
	margin-right: 10%;
}
.h-70{
	height: 67vh;
	overflow: overlay;
	margin-right: 10%;
}
.float-left{
	float: left;
}
.p-0{
	padding: 0px !important;
}
.m-0{
	margin: 0px !important;
}
.mt-3{
	margin-top: .5rem;
}
a {
	text-decoration: none;
}

.card {
	border-radius: 5px;
	margin:5px 0px;
	height: 170px;
    width: 32%;
    background: #f1f1f1;
    float: left;
}
.card-center {
	border-radius: 5px;
	margin:5px 0px;
	height: 170px;
    width: 32%;
    margin-left: 2%;
    margin-right: 2%;
    background: #f1f1f1;
    float: left;
}
::-webkit-scrollbar {
      width: 0px;
}
textarea{
	padding: 4px 0px;
	margin: 0;
    overflow: auto;
    resize: vertical;
    font-family: inherit;
    height: auto;
    min-height: 250px;
}
.input{
	display: block;
    width: 100%;
    height: calc(2rem + 2px);
    font-size: .9rem;
    line-height: 1.1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input:focus{
	outline: none !important;
}